/** @format */

.App {
  font-family: sans-serif;
  text-align: center;
  background: radial-gradient(
    circle at 0% 0.5%,
    rgb(241, 241, 242) 0.1%,
    rgb(224, 226, 228) 100.2%
  );
  border: 2px solid #fcfefe;
  border-radius: 20px;
  margin: 2rem;
  padding: 2rem;
}
